<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.mapper.DeleteDataMapper">

  <delete id="deleteById"  parameterType="org.example.model.AppEntity">
    DELETE FROM apptest
    where id = #{id}
  </delete>
</mapper>
